<ion-item class="ion-label">
  <ion-label floating color="maroon">First Name</ion-label>
  <ion-input type="text" [(ngModel)]="profile.firstName"></ion-input>
</ion-item>

<ion-item class="ion-label">
  <ion-label floating color="maroon">Last Name</ion-label>
  <ion-input type="text" [(ngModel)]="profile.lastName"></ion-input>
</ion-item>

<ion-item class="ion-label">
  <ion-label floating color="maroon">Date of Birth</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
</ion-item>

<div padding-top>
  <button color="maroon" block ion-button (click)="saveProfile()">Save</button>
</div>