page-register {

  ion-content { 
    background-image: url("../assets/imgs/hardin-blurred.png");
    background-position: center;
    display: block;
    background-size: cover;
    } 
  
  .back-button {
      color: #9F0324;
  }
}
