page-alerts {
    .alertOn{
            background-color: whitesmoke;
            h1{
                color: black;
            }
    }
    .alertOff{
            background-color: whitesmoke;
            h1{
                color: lightgray;
            }
    }
    .inline {
        display: inline-block;
    }
    .greyBack {
        background-color: rgb(235, 235, 235);
    }
    .middle {
        //vertical-align: middle;
        text-align: center;
        //align-content: center;
        height: 90%;
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        color: maroon;
        text-shadow: 5px 5px 10px #000;
    }
}
