<!--
  Generated template for the AlertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="maroon">
    <ion-title>Alerts</ion-title>
    <ion-buttons start>
      <button ion-button clear>EDIT</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addAlert()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="greyBack">

  <ion-list>
    <div *ngFor="let alert of alertList | async; let x = index" >
      <div *ngIf="alert.state == true; else off">
        <ion-item-sliding>
          <ion-item class="alertOn">
            <ion-label>
              <h1>{{alert.time.hour}}:{{alert.time.minute}}{{alert.time.timeOfDay}} </h1>
              <h3 class="inline" *ngFor="let day of alert.day; let i = index">{{alert.day[i]}}
                <span>&ensp;</span>
              </h3>
              <h3>{{alert.lot}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="alert.state" (ionChange)="updateAlert(alert)"></ion-toggle>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button (click)="deleteAlert(alert)" color="danger">Delete</button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button (click)="editAlert(alert)" color="primary">Edit</button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      <ng-template #off>
        <ion-item-sliding>
          <ion-item class="alertOff">
            <ion-label>
              <h1>{{alert.time.hour}}:{{alert.time.minute}}{{alert.time.timeOfDay}} </h1>
              <h3 class="inline" *ngFor="let day of alert.day; let i = index">{{alert.day[i]}}
                <span>&ensp;</span>
              </h3>
              <h3>{{alert.lot}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="alert.state" (ionChange)="updateAlert(alert)"></ion-toggle>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button (click)="deleteAlert(alert)" color="danger">Delete</button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button (click)="editAlert(alert)" color="primary">Edit</button>
          </ion-item-options>
        </ion-item-sliding>
      </ng-template>
    </div>
  </ion-list>

  <div class="middle" *ngIf="count == 0">
    <span class="middle">No Alerts</span>
  </div>

</ion-content>