page-alerts {
    .alertOn{
            h1{
                color: color($colors, primary);
            }
    }
    .alertOff{
            h1{
                color: lightgray;
            }
    }

    .alert {
       // background-color: color($colors, dark);
        border-radius: 20px;
        margin-bottom: 5px;
    }
    .inline {
        display: inline-block;
    }
    .greyBack {
        background-color: rgb(235, 235, 235);
    }
    .middle {
        //vertical-align: middle;
        text-align: center;
        //align-content: center;
        height: 90%;
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        color: color($colors, primary);
        text-shadow: 5px 5px 10px #000;
    }
}
